.inventory {
    margin-top:50px;
}
ul.inv {
    list-style: none;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

li {
    display:flex;
    position:relative;
    justify-content: center; 
    margin-bottom:15px
}
h4 {
    position:absolute;
    bottom:0;
    color:#fff;
}

.active {
    font-weight:bold
}

ul.nav {
    display: flex;
    list-style: none;
    justify-content: center;
}
ul.nav li {
    margin-left:5px
}

