.common {
    border:4px solid #b0c3d9;
}
.uncommon {
    border:4px solid #5e98d9;
}
.mythic {
    border:4px solid #8847ff;
}
.legendary {
    border:4px solid #d32ce6;
}
.immortal {
    border:4px solid #b28a33;
}
.arcana {
    border:4px solid #ade55c;
}
.rare {
    border:4px solid #4b69ff;
}
.ancient {
    border:4px solid #eb4b4b;
}
.dotaplus {
    border:4px solid #fff34f;
}/* You can add global styles to this file, and also import other style files */
.common {
    border:4px solid #b0c3d9;
}
.uncommon {
    border:4px solid #5e98d9;
}
.mythic {
    border:4px solid #8847ff;
}
.legendary {
    border:4px solid #d32ce6;
}
.immortal {
    border:4px solid #b28a33;
}
.arcana {
    border:4px solid #ade55c;
}
.rare {
    border:4px solid #4b69ff;
}
.ancient {
    border:4px solid #eb4b4b;
}
.dotaplus {
    border:4px solid #fff34f;
}